<!-- T131: View toggle template -->
<div class="view-toggle">
  <button
    type="button"
    class="toggle-button"
    [class.active]="activeView === 'table'"
    (click)="selectView('table')"
  >
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
    </svg>
    <span>Table</span>
  </button>
  <button
    type="button"
    class="toggle-button"
    [class.active]="activeView === 'chart'"
    (click)="selectView('chart')"
  >
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
    </svg>
    <span>Chart</span>
  </button>
</div>
